---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Welcome to Astro!"
  description="Welcome to the Astro documentation."
>
  <div class="prose mx-auto py-16">
    <h1>Welcome to Astro!</h1>
    <p>
      You’re all set up and ready to start building your Astro site. Here are a
      few resources to get you started:
    </p>
    <ul>
      <li>
        <a
          href="https://docs.astro.build"
          target="_blank"
          rel="noopener noreferrer">Astro Documentation</a
        >
      </li>
      <li>
        <a
          href="https://astro.build/examples"
          target="_blank"
          rel="noopener noreferrer">Astro Examples</a
        >
      </li>
      <li>
        <a
          href="https://astro.build/chat"
          target="_blank"
          rel="noopener noreferrer">Astro Discord Community</a
        >
      </li>
    </ul>
    <p>Happy building!</p>
  </div>
</MainLayout>
